
<ng-container *ngIf="showModal">
    <app-modal [editValues]="this.editProduct"  (submitedEventOnModal) = "catchSubmit($event)"></app-modal>
    <div (click)="toggle()"
         class="overlay"></div>
  </ng-container>

<div class="control-wrapper">
    <button (click)="toggle();">Adicionar Produto</button>
</div>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Data de Vencimento</th>
                <th>Estoque</th>
                <th>Produto Perecível?</th>
                <th colspan="2"></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of this.allProducts">
                <td >{{product.name}}</td>
                <td >{{product.category_name}}</td>
                <td >{{product.value| currency : 'BRL'}}</td>
                <td >{{product.due_date}}</td>
                <td >{{product.stock}}</td>
                <td >{{product.perishable_product == true ? "Sim" : "Não"}}</td>
                <td >
                    <img src="/assets/icons/edit-icon.svg"
                    class="icon"
                    alt="Editar icon" title="Editar Produto"
                    (click)="toggle(product)"
                    >
                </td>
                <td >
                    <img src="/assets/icons/delete-icon.svg"
                    class="icon"
                    alt="Delete icon" title="Deletar Produto"
                    (click)="this.deleteProduct(product.id)">
                </td>
            </tr>
        </tbody>
    </table>
</div>
